fastapi[standard]
uvicorn
python-dotenv
langchain
langchain-core
langchain-groq
langchain-community
langgraph
groq
pydantic
fastapi[all]
python-multipart
pytesseract
Pillow
pypdf
pandas
openpyxl
sqlalchemy
psycopg2-binary
passlib
bcrypt==3.2.2
python-jose[cryptography]
httpx
cloudinary
python-json-logger
